body {

	background-color: ffffff;
	font-family: palatino linotype;
	font-size: 16px;
	color: white;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden
	}

h2 {
	color: #58392c;
	font-size: 50px;
	text-align: center;
	line-height: 0px;
	border-bottom: 4px solid;
	border-top: 4px solid;
	border-color: #58392c;
	}


#navbarimage{
	transform: translate(-8px, -70px);
	width: 100%;
	white-space: nowrap;
	}



#navbarbuttons{
	color: white;
	list-style-type: none;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	/*position: fixed;*/
	position: absolute;
	white-space: nowrap;
	right: -100px;
	top: -5px
	}



#navbarbuttons li{
	display: inline;
	margin-right: 190px;
	}



#navbarbuttons li a{
	text-decoration: none;
	color: white;
	transition: all 0.1s ease-in;
	}


#navbarbuttons li a:hover{
	opacity: 0.6;
	}




#games {
	color: #000000;
	margin: auto;
	width: 100%;
	text-align: center;
	background-color: #58392c;
	padding: 30px;
	}



#paintingImages {
	color: #000000;
	margin: auto;
	width: 100%;
	text-align: center;
	}


#the3dWork {
	color: #000000;
	background-color: #58392c;
	width: 100%;
	padding: 40px;
	margin: auto;
	}

#the3dWork tr th{
	text-align: center;
	}


#feedbackForm {
	padding: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 28px;
	background-color: #58392c;
	}


input[type=text] {
	font-family: palatino linotype;
	font-size: 16px;
	font-weight: 550;
	width: 35%;
	border-radius: 3px;
	}


input[type=submit] {
	font-family: palatino linotype;
	font-size: 40px;
	font-weight: 650;
	color: white;
	background-color: #58392c;
	border: none;
	cursor: pointer;
	transform: translateY(5px);
	}



#footer{
	background-color: #36231b;
	height: 50px;
	width: 100vw;
	position: absolute;
	left: 0px;
	white-space: nowrap;
	}

#footer p{
	position: absolute;
	left: 20px;
	bottom: -2px;
	}