body {

	background-color: ffffff;
	font-family: palatino linotype;
	font-size: 16px;
	color: white;
	}





#navbar tr{
		color: black;
		padding: 5px;
		margin-right: 100px;
		border-right:100px;
	}



.main {
	background-color: #58392c;
	margin-bottom: 12px;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;
	}


/*.sidebar {
	background-color: #58392c;
	margin: 12px;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;
	float: right;
	width: 200px;
	}*/


h1{
	font-size: 200%;
}