body {

	background-color: ffffff;
	font-family: palatino linotype;
	font-size: 16px;
	color: white;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden
	}




#navbarimage{
	/*position: fixed;*/
	transform: translate(-8px, -50px);
	width: 100%;
	white-space: nowrap;
	}



#navbarbuttons{
	color: white;
	list-style-type: none;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	/*position: fixed;*/
	position: absolute;
	white-space: nowrap;
	right: -100px;
	top: 0px
	}



#navbarbuttons li{
	display: inline;
	margin-right: 190px;
	}



#navbarbuttons li a{
	text-decoration: none;
	color: white;
	transition: all 0.1s ease-in;
	}


#navbarbuttons li a:hover{
	opacity: 0.6;
	}




.main {
	background-color: #58392c;
	margin-bottom: 12px;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
	transform: translate(-10px, 0px);
	width: 100vw;
	white-space: nowrap;
	}



#paintingImages {
	color: #000000;
	}


#footer{
	background-color: #58392c;
	height: 50px;
	width: 100vw;
	position: absolute;
	left: 0px;
	white-space: nowrap;
	}

#footer p{
	position: absolute;
	left: 20px;
	bottom: 0px;
	}